{% extends 'base.html.j2' %}
{% block title %}{{ tag.name }}{% endblock %}
{% block content %}
<h3 class="page-header">{{ tag.name }}代码</h3>

<section class="pastes">
	{% include ('pastes/pastes.html.j2') %}

	<div id="more_button_li">
		<button class="btn btn-default btn-block" id="more_button" data-page="2" data-tag="{{ tag.name }}">更多</button>
	</div>
</section>
{% endblock %}
