Beaker==1.7.0
bottle==0.12.8
bottle-login==0.0.3
ecdsa==0.13
Fabric==1.10.2
flake8==2.4.1
Jinja2==2.8
MarkupSafe==0.23
mccabe==0.3.1
mongoengine==0.10.0
paramiko==1.15.2
pep8==1.5.7
pluggy==0.3.1
py==1.4.30
pycrypto==2.6.1
pyflakes==0.8.1
pymongo==2.8
six==1.9.0
tox==2.1.1
virtualenv==13.1.2
wheel==0.24.0
WTForms==2.0.2
oauth2
