{% extends 'base.html' %}
{% block title %}粘贴新代码{% endblock %}
{% block javascript %}
<script type="text/javascript">
$(document).ready(function() {
  var i = 1;
  var code = $('.code').last().clone();
  $('#one_more').click(function(event) {
    event.preventDefault();
    $('#codes').append($(code));
    $('.code').last().find('input').first().attr('name', 'codes-' + i + '-title');
    $('.code').last().find('textarea').first().attr('name', 'codes-' + i + '-content');
  });
});
</script>
{% endblock %}
{% block content %}
<form class="form-horizontal" action="/create" method="POST" enctype="multipart/form-data">
  {% include 'shared/form_errors.html' %}
  <div class="panel panel-default">
    <div class="panel-heading">分享代码</div>
    <div class="panel-body">
      <div class="form-group">
        <div class="col-md-12">
          {{ form.title(class_="form-control", placeholder="描述一下这段代码集合", autofocus=true) }}
        </div>
      </div>
      <div id="codes">
        {% for code in form.codes %}
        <div class="well code">
          <div class="form-group">
            {{ code.title.label(class="control-label col-sm-2") }}
            <div class="col-md-9">{{ code.title(class="form-control") }}</div>
          </div>
          <div class="form-group">
            {{ code.content.label(class="control-label col-sm-2") }}
            <div class="col-md-9">{{ code.content(class="form-control", rows="10", required=true) }}</div>
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="form-group">
        <div class="col-sm-10">
          <input type="submit" class="btn btn-default" value="分享这段代码集合" />
          <button id="one_more" class="btn btn-primary">增加一个片段</button>
        </div>
      </div>
    </div>
  </div>
</form>
{% endblock %}
{% block sidebar %}
<h2 class="new-paste-title">
  <span></span>
  站点介绍
</h2>
<p class="lh24 pt15">
  代码段(以前的大卫粘贴)是一个什么样的网站呢?
  我很难用一句话来形容. 你可以用它来贴代码, 你也可以用它来展示代码,
  你也可以用它来收藏代码, 你也可以用它来观察别人都在写什么代码.
</p>
{% endblock %}
