{% extends 'base.html' %}
{% block title %}{{ paste.title }}{% endblock %}
{% block content %}
<div class="panel panel-default">
  {% for code in paste.codes %}
  <div class="panel-heading">
    <div class="panel-title">
      <h4>{{ code.title }}</h4>
    </div>
    {% for tag in paste.tags %}<a href="/tag/{{ tag }}" title="{{ tag }}" class="label label-warning">{{ tag }}</a>{% endfor %}
  </div>

  <pre class="panel-body"><code>{{ code.content | safe }}</code></pre>
  {% endfor %}

  <div class="panel-footer">
    {% include 'items/_comments.html' %}    
  </div>
</div>
{% endblock %}
