<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="代码段是一个优秀的代码分享平台, 用户可以在代码段上分享自己的代码, 查看别人优秀的代码, 甚至收藏别人的代码, 打造一个属于自己的代码库">
		<meta name="keywords" content="代码, 开发, 平台, 分享">
		<title>{% block title %}最新代码{% endblock %} - 代码段</title>
		<link rel="shortcut icon" href="/static/images/favicon.ico" />

		<link href="//cdn.bootcss.com/bootswatch/3.3.5/lumen/bootstrap.min.css" rel="stylesheet">
		<link href="//cdn.bootcss.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
		<link href="http://yandex.st/highlightjs/8.0/styles/github.min.css" rel="stylesheet">
		<link href="/static/css/app.css" rel="stylesheet">
	</head>
	<body>
		{% include 'shared/header.html' %}
		
		<div class="container">
			{% block content %}{% endblock %}
		</div>

		<div class="container">
			<div class="col-md-12">
			<hr />
			<p class="flink container clearfix">
				<span>© 2011 - 2015 <a href="https://github.com/DoubleCiti/daimaduan.com">daimaduan.com</a> All right reserved</span>
<!-- 				<span class="pull-right">
					<a href="/posts">开发日志</a> | 
					<a href="/rss">订阅本站</a> | 
					<a href="/page/faq">FAQ</a> | 
					<a href="/page/about">关于我们</a> | 
					<a href="/page/contact">联系我们</a>
				</span> -->
			</p>
			</div>
		</div>

	<script src="http://yandex.st/highlightjs/8.0/highlight.min.js"></script>
	<script src="//cdn.bootcss.com/jquery/2.1.4/jquery.min.js"></script>
	<script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	
	<script type="text/javascript">
	(function() {
		var po = document.createElement('script');
		po.type = 'text/javascript'; po.async = true;
		po.src = 'https://plus.google.com/js/client:plusone.js';
		var s = document.getElementsByTagName('script')[0];
		s.parentNode.insertBefore(po, s);
	})();
	</script>
	<script src="/static/js/app.js"></script>
	{% block javascript %}{% endblock %}
	<script type="text/javascript">
	/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
	var disqus_shortname = 'daimaduan'; // required: replace example with your forum shortname

	/* * * DON'T EDIT BELOW THIS LINE * * */
	(function () {
		var s = document.createElement('script'); s.async = true;
		s.type = 'text/javascript';
		s.src = '//' + disqus_shortname + '.disqus.com/count.js';
		(document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
	}());
	</script>
	</body>
</html>
