<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="代码段是一个优秀的代码分享平台, 用户可以在代码段上分享自己的代码, 查看别人优秀的代码, 甚至收藏别人的代码, 打造一个属于自己的代码库">
		<meta name="keywords" content="代码, 开发, 平台, 分享">
		<title>{% block title %}最新代码{% endblock %} - 代码段</title>
		<link rel="shortcut icon" href="/static/images/favicon.ico" />
		<link href="/static/css/bootstrap.min.css" rel="stylesheet">
		<link href="//cdn.bootcss.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
		<link href="//cdn.bootcss.com/bootstrap-social/4.11.0/bootstrap-social.min.css" rel="stylesheet">
		<link href="//cdn.bootcss.com/highlight.js/9.0.0/styles/github.min.css" rel="stylesheet">
		<link href="/static/css/app.css" rel="stylesheet">

		<script type="text/javascript">
			var app = {};

			{% if request.user -%}
			app.current_user = {
				id: '{{ request.user.id }}',
				username: '{{ request.user.username }}'
			};
			{% endif -%}
		</script>

	</head>
	<body class="view_{{ view_name() }} func_{{ view_func() }}">
		{% include 'shared/header.html' %}

		<div class="container">
			<div class="col-md-12">{% block full_content %}{% endblock %}</div>
			<div class="col-md-9">{% block content %}{% endblock %}</div>
			<div class="col-md-3">{% block sidebar %}{% endblock %}</div>
		</div>

		{% include 'shared/footer.html' %}

		<script src="//cdn.bootcss.com/highlight.js/9.0.0/highlight.min.js"></script>
		<script src="//cdn.bootcss.com/underscore.js/1.8.3/underscore-min.js"></script>
		<script src="//cdn.bootcss.com/jquery/2.1.4/jquery.min.js"></script>
		<script src="//cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

		<script src="/static/js/highlightjs.line.numbers.min.js"></script>
		<script src="/static/js/app.js"></script>
		<script src="/static/js/{{ view_name() }}.js"></script>
		{% include 'shared/script_disqus.html' %}

		{% if config['site.analytics'] %}{% include 'shared/analytics.html' %}{% endif %}
		<script type="text/javascript">
		(function() {
			var po = document.createElement('script');
			po.type = 'text/javascript'; po.async = true;
			po.src = 'https://plus.google.com/js/client:plusone.js';
			var s = document.getElementsByTagName('script')[0];
			s.parentNode.insertBefore(po, s);
		})();
		</script>
	</body>
</html>
