{% extends 'base.html' %}

{%- from 'macros/tags.html' import render_tag %}
{%- from 'macros/pastes.html' import render_paste_item %}
{%- from 'macros/common.html' import render_pagination %}

{% block content %}
<h4 class="page-header">最新代码</h4>

<section class="pastes">
	{% for paste in pagination.items %}
		{{ render_paste_item(paste) }}
	{% endfor %}

  <hr />

  {{ render_pagination(pagination, url_for('site_app.index')) }}
</section><!-- .pastes -->
{% endblock %}

{% block sidebar %}
<div class="panel panel-default">
	<div class="panel-heading">热门标签</div>
	<div class="panel-body">
	{% for tag in tags %}
		{{ render_tag(tag.name) }}
	{% endfor %}
	</div>
</div>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- daimaduan -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-3454978138774752"
     data-ad-slot="1880156223"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
{% endblock %}
