{% extends 'base.html' %}

{%- from 'macros/tags.html' import render_tag %}

{% block content %}
<h3 class="page-header">最新代码</h3>

<section class="pastes">
	{% include ('pastes/pastes.html') %}

	<div id="more_button_li">
		<button class="btn btn-default btn-block" id="more_button" data-page="2" {% if not has_more_pastes %}disabled="disabled"{% endif %}>更多</button>
	</div>
</section><!-- .pastes -->
{% endblock %}

{% block sidebar %}
<div class="panel panel-default">
	<div class="panel-heading">热门标签</div>
	<div class="panel-body">
	{% for tag in tags %}
		{{ render_tag(tag.name) }}
	{% endfor %}
	</div>
</div>
{% endblock %}
