{% extends 'base.html' %}

{%- from 'macros/users.html' import render_user_panel with context %}
{%- from 'macros/tags.html' import render_tag %}
{%- from 'macros/pastes.html' import render_paste_item %}

{% block title %}{{ user.username }} 喜欢的代码段{% endblock %}

{% block content %}
<h3 class="page-header">{{ user.username }} 喜欢的代码段</h3>

<section class="pastes">
	{% for like in likes %}
		{{ render_paste_item(like.likeable) }}
	{% endfor %}

	<div id="more_button_li">
		<button class="btn btn-default btn-block" id="more_button" data-page="2" {% if not has_more_pastes %}disabled="disabled"{% endif %}>更多</button>
	</div>
</section><!-- .pastes -->
{% endblock %}

{% block sidebar %}
	{{ render_user_panel(user) }}
<div class="panel panel-default">
	<div class="panel-heading">热门标签</div>
	<div class="panel-body">
	{% for tag in tags %}
		{{ render_tag(tag.name) }}
	{% endfor %}
	</div>
</div>
{% endblock %}