{% extends 'base.html' %}
{% block title %}搜索代码段{% endblock %}
{% block content %}
<h3 class="page-header">查询条件: "{{ query_string }}"</h3>

<section class="pastes">
	{% include ('pastes/pastes.html') %}

	<div id="more_button_li">
		<button class="btn btn-default btn-block" id="search_more_button" data-page="2" data-keyword="{{ query_string }}">更多</button>
	</div>
</section><!-- .pastes -->
{% endblock %}

{% block sidebar %}
<div class="panel panel-default">
	<div class="panel-heading">查询优化</div>
	<div class="panel-body">
		<ul>
			<li>在查询条件里加上'tag:TAG'可以只查询标签为TAG的代码集合</li>
			<li>在查询条件里加上'user:USER'可以只查询该用户的代码集合</li>
			<li>例如: "uwsgi tag:python user:david-xie"</li>
		</ul>
	</div>
</div>
{% endblock %}
