{% extends 'base.html' %}
{% block title %}搜索代码段{% endblock %}

{%- from 'macros/pastes.html' import render_paste_item %}
{%- from 'macros/common.html' import render_pagination %}

{% block content %}
<h5 class="page-header">查询条件: "{{ query_string }}"</h5>

<section class="pastes">
	{% for paste in pagination.items %}
		{{ render_paste_item(paste) }}
	{% endfor %}

    <hr />

    {{ render_pagination(pagination, url_for('site_app.search_paste', q=keyword)) }}
</section><!-- .pastes -->
{% endblock %}

{% block sidebar %}
<div class="panel panel-default">
	<div class="panel-heading">查询优化</div>
	<div class="panel-body">
		<ul>
			<li>在查询条件里加上'tag:TAG'可以只查询标签为TAG的代码集合</li>
			<li>在查询条件里加上'user:USER'可以只查询该用户的代码集合</li>
			<li>例如: "uwsgi tag:python user:david-xie"</li>
		</ul>
	</div>
</div>
{% endblock %}
