{% extends 'base.html' %}

{%- from 'macros/users.html' import render_user_panel with context %}
{%- from 'macros/tags.html' import render_tag %}
{%- from 'macros/pastes.html' import render_paste_item %}
{%- from 'macros/common.html' import render_pagination %}

{% block title %}{{ user.username }} 喜欢的代码段{% endblock %}

{% block content %}
<h4 class="page-header">{{ user.username }} 喜欢的代码段</h4>

<section class="pastes">
	{% for paste in pagination.items %}
		{{ render_paste_item(paste) }}
	{% endfor %}

	<hr />

	{{ render_pagination(pagination, url_for('user_app.view_likes', username=user.nickname)) }}
</section><!-- .pastes -->
{% endblock %}

{% block sidebar %}
	{{ render_user_panel(user) }}
{#<div class="panel panel-default">#}
{#	<div class="panel-heading">热门标签</div>#}
{#	<div class="panel-body">#}
{#	{% for tag in tags %}#}
{#		{{ render_tag(tag.name) }}#}
{#	{% endfor %}#}
{#	</div>#}
{#</div>#}
{% endblock %}
