{% extends 'base.html' %}
{% import 'wtf.html' as f %}
{% block title %}注册新用户{% endblock %}
{% block full_content %}
<form action="/signup" method="POST" id="form-signup">
  {{ form.csrf_token }}
  <div class="panel panel-default">
    <div class="panel-heading">用户注册</div>
    <div class="panel-body">
      {{ f.render_field(form.email, placeholder='Email地址', type='email') }}
      {{ f.render_field(form.username, placeholder='用户名', type='text') }}
      {{ f.render_field(form.password, placeholder='密码', type='password') }}
      {{ f.render_field(form.password_confirm, placeholder='密码确认', type='password') }}
    </div>
    <div class="panel-footer">
      {% include 'shared/oauth.html' %}

      <input type="submit" class="btn btn-primary" value="注册" />
    </div>
  </div>
</form>
{% endblock %}
