{% extends 'base.html' %}
{% import 'wtf.html' as f %}
{% block title %}用户登录{% endblock %}
{% block full_content %}
<form action="/signin" method="POST" id="form-signin">
  {{ form.csrf_token }}
  <div class="panel panel-default">
    <div class="panel-heading">用户登录</div>
    <div class="panel-body">
      {{ f.render_field(form.email, placeholder='Email', type='email') }}
      {{ f.render_field(form.password, placeholder='Password', type='password') }}
      <a href="/lost_password">忘记密码</a>
    </div>
    <div class="panel-footer">
      {% include 'shared/oauth.html' %}
      <input type="submit" class="btn btn-primary" value="登录" />
    </div>
  </div>
</form>
{% endblock %}
