{% extends 'base.html' %}

{%- from 'macros/tags.html' import render_tag %}
{%- from 'macros/pastes.html' import render_paste_item %}
{%- from 'macros/common.html' import render_pagination %}
{%- from 'macros/users.html' import render_user_panel with context %}

{% block title %}{{ user.username }} 发布的代码段{% endblock %}

{% block content %}
<h4 class="page-header">{{ user.username }} 发布的代码段</h4>

<section class="pastes">
  {% for paste in pagination.items %}
    {{ render_paste_item(paste) }}
  {% endfor %}

  <hr />

  {{ render_pagination(pagination, url_for('user_app.view_user', username=user.username)) }}
</section><!-- .pastes -->
{% endblock %}

{% block sidebar %}
  {{ render_user_panel(user) }}
{% endblock %}
