<div class="container">
  <div class="col-md-12">
    <hr />
    <span>© 2011 - 2015 <a href="https://github.com/DoubleCiti/daimaduan.com">daimaduan.com</a> All right reserved</span>
    <span class="pull-right">
      <a href="http://blog.daimaduan.com/pages/about/">关于代码段</a> |
      <a href="https://github.com/DoubleCiti/daimaduan.com">项目主页</a> |
      <a href="https://github.com/DoubleCiti/daimaduan.com/issues/new">提交bug</a>
    </span>
  </div>
</div>
