<div class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">代码段</a>
    </div>

    <div class="navbar-collapse collapse" id="navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="{{ url_for('site_app.index') }}">首页</a></li>
        <li><a href="{{ url_for('site_app.tags') }}">标签</a></li>
        <li><a href="{{ url_for('list_app.index') }}">码单</a></li>
      </ul>

      <form action="/search" class="navbar-form navbar-left">
        <input type="text" name="q" placeholder="搜索" class="form-control col-md-10" value="{{ query_string }}" />
      </form>

      <a href="{{ url_for('paste_app.create_paste') }}" class="btn btn-success navbar-btn share-btn"><span class="plus"></span>分享我的代码</a>

      <ul class="nav navbar-nav navbar-right">
      {% if current_user.is_authenticated %}
        <li class="dropdown">
          <a href="javascript: void(0);" class="dropdown-toggle" data-toggle="dropdown">
            <img src="{{ current_user.email | gravatar(size=24) }}" />
            {{ current_user.username }}
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><a href="/user/{{ current_user.username }}">我的主页</a></li>
            <!--<li><a href="/user/favourites">我的收藏</a></li>-->
            <li class="divider"></li>
            <li><a href="/messages"><i class="icon-envelope"></i> 系统消息</a></li>
            <!-- <li><a href="/manage"><i class="icon-cog"></i> 设置</a></li>
            <li class="divider"></li> -->
            <li><a href="javascript:;" class="action-signout"><i class="icon-off"></i> 登出</a></li>
          </ul>
        </li>
      {% else %}
        <li><a href="/signin">登录</a></li>
        <li><a href="/signup">注册</a></li>
      {% endif %}
      </ul>
    </div>
  </div>
</div><!-- .navbar -->
