{% from 'macros/common.html' import panel_tag %}
{% from 'macros/common.html' import fa_icon %}
{% from 'macros/users.html' import render_user_avatar %}
{% from 'macros/users.html' import render_user_watch %}

<div class="panel panel-default"
     id="panel-paste-user"
     data-user={{ user.id }}>
  <div class="panel-heading text-center">
    <div class="avatar-wrapper">
      {{ render_user_avatar(user, size=80) }}  
    </div>
    
    <h4>{{ user.username }}</h4>
  </div>

  <div class="list-group">
    <a href="/user/{{ user.username }}" class="list-group-item">
      <span class="badge">
        {% if current_user.is_authenticated and current_user.user == user %}
          {{ user.pastes_count }}
        {% else %}
          {{ user.public_pastes_count }}
        {% endif %}
      </span>
      发布的代码段
    </a>
    <a href="/user/{{ user.username }}/likes" class="list-group-item">
      <span class="badge paste-likes-count">{{ user.paste_likes_count }}</span>
      喜欢的代码段
    </a>
    {% if current_user.is_authenticated and (user != current_user.user) %}
      {{ render_user_watch(current_user.user, user) }}
    {% endif %}
  </div>
</div>