{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
{% if reactive == True %}
    <span>
        您的邮箱没有激活，暂时不能分享代码，请激活您的email: {{ current_user.user.email }}
    </span>
    <br>
{% else %}
    <span>
        恭喜您, 注册成功! 我们已经向您的注册邮箱发送了激活邮件, 请检查并激活您的账户.
    </span>
    <br>
{% endif %}
<span>
    如果您没有收到激活邮件,请点击
    <form action="{{ url_for('site_app.send_email') }}" method="POST" id="form-sendmail">
        {{ form.csrf_token }}
        <input type="hidden" name="email" value="{{ current_user.user.email }}" />
        <input type="submit" class="btn btn-primary" value="发送激活邮件" />
    </form>
</span>
{% endblock %}
