{% macro render_comments(paste) -%}
  <div>
    <h4>{{ paste.comments_count }} 条评论</h4>
    <hr />
        {% for comment in paste.get_comments() %}
          <div class="media">
            <div class="media-left">
              <a href="{{ url_for('user_app.view_user', username=comment.user.username) }}">
                <img class="img-rounded" alt="{{ comment.user.username }}" src="{{ comment.user.email | gravatar(size=38) }}"/>
              </a>
            </div>
            <div class="media-body">
              <div class="pull-right">
                <small class="text-muted">发表于 {{ comment.created_at | time_passed }}</small>
              </div>
              <h5 class="media-heading">
                <a href="{{ url_for('user_app.view_user', username=comment.user.username) }}">{{ comment.user.username }}</a>
              </h5>
              <p>{{ comment.content }}</p>
            </div>
          </div>
        {% endfor %}
        {% if current_user.is_authenticated %}
          <div class="media">
            <div class="media-left">
              <a href=""><img class="img-rounded" src="{{ current_user.user.email | gravatar(size=38) }}" /></a>
            </div>
            <div class="media-body">
              <form class="form media-heading" action="{{ url_for('paste_app.comments', hash_id=paste.hash_id) }}" method="POST">
                <div class="form-group">
                  <textarea name="content" class="form-control"></textarea>
                </div>
                <div class="form-group">
                  <button type="submit" class="btn btn-primary">发布</button>
                </div>
              </form>
            </div>
          </div>
        {% endif %}
  </div>
{%- endmacro %}

{# 快速添加 fa 图标的标签 #}
{% macro fa_icon(icon, text='', right=False) -%}
    {% if right %}
        {{ text }} <i class="fa fa-{{ icon }}"></i>
    {% else %}
        <i class="fa fa-{{ icon }}"></i> {{ text }}
    {% endif %}
{% endmacro %}

{% macro panel_tag(title, class='', id='', with_body=True) -%}
    <div class="panel panel-default {{ class }}"
         {% if id %}id="{{ id }}"{% endif %}>
        <div class="panel-heading">{{ title }}</div>
        {% if with_body %}<div class="panel-body">{% endif %}
            {{ caller() }}
        {% if with_body %}</div>{% endif %}
    </div>
{%- endmacro %}

{%- macro render_pagination(pagination, endpoint) %}
<nav>
  <ul class="pager">
    <li class="previous {{ pagination.has_prev | ternary('', 'disabled') }}">
      {% if pagination.has_prev %}
      <a href="{{ endpoint }}?page={{ pagination.prev_num }}">上一页</a>
      {% else %}
      <a href="javascript:;">上一页</a>
      {% endif %}
    </li>

    <li class="next {{ pagination.has_next | ternary('', 'disabled') }}">
      {% if pagination.has_next %}
      <a href="{{ endpoint }}?page={{ pagination.next_num }}">下一页</a>
      {% else %}
      <a href="javascript:;">下一页</a>
      {% endif %}
    </li>
  </ul>
</nav>
{%- endmacro %}
