{% macro render_comments(paste) -%}
  <div href="#comments">
    <h4>{{ paste.comments_count }} 条评论</h4>
    <hr />
        {% if paste.comments.total <= paste.comments.per_page %}
          {% set start = paste.comments.total - 1 %}
        {% else %}
          {% set start = paste.comments.per_page * (paste.comments.pages - paste.comments.page) %}
        {% endif %}
        {% for comment in paste.comments.items %}
          <div class="media">
            <div class="media-left">
              <a href="{{ url_for('user_app.view', username=comment.user.username) }}">
                <img class="img-rounded" alt="{{ comment.user.username }}" src="{{ comment.user.email | gravatar(size=38) }}"/>
              </a>
            </div>
            <div class="media-body">
              {% if current_user.is_authenticated and comment.is_user_owned(current_user.user) %}
              <div class="pull-right">
                <a href="{{ url_for('paste_app.edit_comment', paste_id=paste.hash_id, hash_id=comment.hash_id) }}" class="btn btn-xs text-muted">
                  <i class="fa fa-pencil"></i>
                  <span>编辑</span>
                </a>
                <a href="{{ url_for('paste_app.delete_comment', paste_id=paste.hash_id, hash_id=comment.hash_id) }}" class="btn btn-xs text-muted action-del">
                  <i class="fa fa-eraser"></i>
                  <span>删除</span>
                </a>
                <strong>#{{ start - loop.index + 2 }}</strong>
              </div>
              {% endif %}
              <h5 class="media-heading">
                <a href="{{ url_for('user_app.view', username=comment.user.username) }}">{{ comment.user.username }}</a>
                <small class="text-muted">发表于 {{ comment.created_at | time_passed }}</small>
              </h5>
              <p>{{ comment.content | markdown | safe }}</p>
            </div>
          </div>
        {% endfor %}
        {{ render_pagination(paste.comments, url_for('paste_app.view_paste', hash_id=paste.hash_id)) }}
        {% if current_user.is_authenticated %}
          <div class="media">
            <div class="media-left">
              <a href=""><img class="img-rounded" src="{{ current_user.user.email | gravatar(size=38) }}" /></a>
            </div>
            <div class="media-body">
              <form class="form media-heading" action="{{ url_for('paste_app.comments', hash_id=paste.hash_id) }}" method="POST">
                <div class="form-group">
                  <textarea name="content" class="form-control" placeholder="开始讨论"></textarea>
                </div>
                <div class="form-group">
                  <button type="submit" class="btn btn-primary">发布</button>
                </div>
              </form>
            </div>
          </div>
        {% endif %}
  </div>
{%- endmacro %}

{# 快速添加 fa 图标的标签 #}
{% macro fa_icon(icon, text='', right=False, class='') -%}
    {% if right %}
        {{ text }} <i class="fa fa-{{ icon }} {{ class }}"></i>
    {% else %}
        <i class="fa fa-{{ icon }} {{ class }}"></i> {{ text }}
    {% endif %}
{% endmacro %}

{% macro panel_tag(title, class='', id='', with_body=True) -%}
    <div class="panel panel-default {{ class }}"
         {% if id %}id="{{ id }}"{% endif %}>
        <div class="panel-heading">{{ title }}</div>
        {% if with_body %}<div class="panel-body">{% endif %}
            {{ caller() }}
        {% if with_body %}</div>{% endif %}
    </div>
{%- endmacro %}

{%- macro render_pagination(pagination, endpoint) %}
{% if pagination.pages > 1 %}
<nav>
  <ul class="pager">
    <li class="previous {{ pagination.has_prev | ternary('', 'disabled') }}">
      {% if pagination.has_prev %}
      <a href="{{ endpoint }}?page={{ pagination.prev_num }}">上一页</a>
      {% else %}
      <a href="javascript:;">上一页</a>
      {% endif %}
    </li>

    <li class="next {{ pagination.has_next | ternary('', 'disabled') }}">
      {% if pagination.has_next %}
      <a href="{{ endpoint }}?page={{ pagination.next_num }}">下一页</a>
      {% else %}
      <a href="javascript:;">下一页</a>
      {% endif %}
    </li>
  </ul>
</nav>
{% endif %}
{%- endmacro %}
