{% from 'macros/tags.html' import render_tag %}
{% from 'macros/common.html' import fa_icon %}


{% macro render_paste_item(paste) %}
  {% include 'pastes/paste.html' %}
{% endmacro %}


{% macro render_private(paste) %}
  {% if paste.is_private -%}
    <small><i class="fa fa-lock text-warning" title="私有"></i></small>
  {% endif -%}
{% endmacro %}


{% macro render_code(code) %}
<div class="code panel panel-default" id="code-{{ code.hash_id }}">
  <div class="panel-heading">
    <span class="pull-right">{{ render_tag(code.tag) }}</span>
    {{ code.title }}
  </div>
  <div class="panel-body">
    {{ render_source_code(code.content) }}
  </div>
</div>
{% endmacro %}


{% macro render_source_code_preview(source) %}
  <pre class="code_preview"><code>{{ source }}</code></pre>
  <a href="javascript:;" class="btn btn-link full-code-toggle">显示完整代码</a>
{% endmacro %}


{% macro render_source_code(source) %}
  <pre><code>{{ source }}</code></pre>
{% endmacro %}


{% macro edit_paste_button(paste) %}
  <a href="/paste/{{ paste.hash_id }}/edit"
     title="编辑"
     class="btn btn-default btn-xs action action-edit"
     data-id="{{ paste.hash_id }}">
    {{ fa_icon('pencil') }} <span>编辑</span>
  </a>
{% endmacro %}


{% macro del_paste_button(paste) %}
  <form class="inline action"
        action="/paste/{{ paste.hash_id }}/delete"
        method="post">
    <button type="submit"
            class="btn btn-danger btn-xs action action-del">
      {{ fa_icon('trash') }} <span>删除</span>
    </button>
  </form>
{% endmacro %}


{% macro like_paste_button(user, paste) %}
  {% set liked = user and user.liked(paste) -%}
  {% set text  = liked | ternary('取消喜欢', '喜欢') -%}
  <a href="javascript:;"
     title="{{ text }}"
     class="btn btn-default btn-xs action action-{{ liked | ternary('unlike', 'like') }}"
     data-id="{{ paste.hash_id }}">
    {{ fa_icon('heart') }} <span>{{ text }}</span>
    {{ paste.likes_count }}
  </a>
{% endmacro %}


{% macro embed_paste_button(paste) %}
  <div class="input-group input-group-xs input-group-embed">
    <span class="input-group-btn">
      <button class="btn btn-default btn-xs action" type="button">
        {{ fa_icon('code') }}
        <span>引用</span>
      </button>
    </span>
    <input type="text" class="form-control input-xs"
           value="<script type=&quot;text/javascript&quot; src=&quot;{{ url_for('paste_app.embed_js', hash_id=paste.hash_id) }}&quot;></script>">
  </div><!-- /input-group -->
{% endmacro %}
