{% from 'macros/tags.html' import render_tag %}
{% from 'macros/users.html' import render_user_avatar %}
{% from 'macros/common.html' import fa_icon %}


{% macro render_paste_item(paste) %}
  {% include 'pastes/paste.html' %}
{% endmacro %}

{% macro render_hot_pastes(pastes) %}
  <div class="panel panel-default">
    <div class="panel-heading">热门代码</div>
    <div class="panel-body">
      {% for paste in pastes %}
        <div class="media">
          <div class="media-left">
            {{ render_user_avatar(paste.user, size=22) }}
          </div>
          <div class="media-body">
            <h5 class="media-heading">
              <a href="/paste/{{ paste.hash_id }}" title="{{ paste.title }}">
                {{ paste.title | truncate(24) }}
              </a>
            </h5>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endmacro %}

{% macro render_private(paste) %}
  {% if paste.is_private -%}
    <small><i class="fa fa-lock text-warning" title="私有"></i></small>
  {% endif -%}
{% endmacro %}


{% macro render_code(code) %}
<div class="code panel panel-default">
  <div class="panel-heading">
    <span class="pull-right">{{ render_tag(code.syntax) }}</span>
    <span>{{ code.title }}</span>
    <a class="btn btn-xs copy-code" data-toggle="tooltip" data-placement="right" title="已复制">复制代码到剪贴板</a>
  </div>
  <div class="panel-body" style="overflow-x: auto;">
      <pre class="hidden"><code>{{ code.content }}</code></pre>
  </div>
</div>
{% endmacro %}


{% macro render_source_code_preview(code) %}
<div class="code panel panel-default code_preview ">
  <div class="panel-heading">
    <span class="pull-right">{{ render_tag(code.syntax) }}</span>
    <span>{{ code.title }}</span>
    <a class="btn btn-xs copy-code" data-toggle="tooltip" data-placement="right" title="已复制">复制代码到剪贴板</a>
  </div>
  <div class="panel-body" style="overflow-x: auto;">
    <pre class="hidden"><code>{{ code.content }}</code></pre>
  </div>
</div>
<a href="javascript:;" class="btn btn-link full-code-toggle">显示完整代码</a>
{% endmacro %}


{% macro edit_paste_button(paste) %}
  <a href="/paste/{{ paste.hash_id }}/edit"
     title="编辑"
     class="btn btn-default btn-xs action action-edit"
     data-id="{{ paste.hash_id }}">
    {{ fa_icon('pencil') }} <span>编辑</span>
  </a>
{% endmacro %}


{% macro del_paste_button(paste) %}
  <form class="inline action"
        action="/paste/{{ paste.hash_id }}/delete"
        method="post">
    <button type="submit"
            class="btn btn-danger btn-xs action action-del">
      {{ fa_icon('trash') }} <span>删除</span>
    </button>
  </form>
{% endmacro %}


{% macro like_paste_button(user, paste) %}
  {% set liked = paste in user.likes -%}
  {% set text  = liked | ternary('取消喜欢', '喜欢') -%}
  <a href="javascript:;"
     title="{{ text }}"
     class="btn btn-default btn-xs action action-{{ liked | ternary('unlike', 'like') }}"
     data-id="{{ paste.hash_id }}">
    {{ fa_icon('heart') }} <span>{{ text }}</span>
    {{ paste.likes_count }}
  </a>
{% endmacro %}


{% macro embed_paste_button(paste) %}
  <div class="input-group input-group-xs input-group-embed">
    <span class="input-group-btn">
      <button class="btn btn-default btn-xs action" type="button">
        {{ fa_icon('code') }}
        <span>引用</span>
      </button>
    </span>
    <input type="text" class="form-control input-xs"
           value="<script type=&quot;text/javascript&quot; src=&quot;{{ url_for('paste_app.embed_js', hash_id=paste.hash_id, _external=True) }}&quot;></script>">
  </div><!-- /input-group -->
{% endmacro %}

{% macro add_to_bookmark_form(paste, paste_lists) %}
  {% if paste_lists %}
    <form class="form-inline" action="{{ url_for('bookmark_app.add_paste') }}" method="POST">
      <input type="hidden" name="paste_hash_id" value="{{ paste.hash_id }}" />
      <div class="form-group">
        <select class="form-control input-sm" name="bookmark_id">
          {% for paste_list in paste_lists %}
            <option value="{{ paste_list.hash_id }}">{{ paste_list.title }}</option>
          {% endfor %}
        </select>
      </div>
      <input class="btn btn-default btn-xs" type="submit" value="添加" />
    </form>
  {% endif %}
{% endmacro %}
