{% macro render_user_avatar(user, size=36) %}
<a href="{{ url_for('user_app.view_user', username=user.username) }}" title="{{ user.username }}">
  <img src="{{ user.email | gravatar(size=size) }}"
       width="{{ size }}" height="{{ size }}"
       alt="{{ user.username }}"
       class="img-rounded"/>
</a>
{% endmacro %}

{% macro render_user_panel(user) %}
  {% include 'shared/user_panel.html' %}
{% endmacro %}

{% macro render_user_watch(user, current_user) %}
  {% set is_watched = user.is_followed_by(current_user) -%}
  {% set display = is_watched | ternary('取消关注', '关注') -%}
  <div class="list-group-item">
    <button class="btn btn-info btn-xs action action-{{ is_watched | ternary('unwatch', 'watch') }}">{{ display }}</button>
  </div>
{% endmacro %}
