{% macro render_user_avatar(user, size=36) %}
<a href="/user/{{ user.username }}" title="{{ user.username }}">
  <img src="{{ user.gravatar_url(width=size) }}"
       width="{{ size }}" height="{{ size }}"
       alt="{{ user.username }}"
       class="img-rounded"/>
</a>
{% endmacro %}

{% macro render_user_panel(user) %}
  {% include 'shared/user_panel.html' %}
{% endmacro %}

{% macro render_user_watch(request_user, user) %}
  {% set is_watched = request_user.is_watched(user) -%}
  {% set display = is_watched | ternary('取消关注', '关注') -%}
  <div class="list-group-item">
    <button class="btn btn-info btn-xs action action-{{ is_watched | ternary('unwatch', 'watch') }}">{{ display }}</button>
  </div>
{% endmacro %}
