<script type="text/javascript">
  app.paste = {{ form.data | tojson | safe }};
</script>

{% raw %}
<form id="form-paste">
    <input type="hidden" class="form-control" v-model="paste.hash_id" name="hash_id"/>

    <div class="form-group">
        <input type="text" name="title" autofocus
               class="form-control" placeholder="描述一下这段代码集合（选填）"
               v-model="paste.title" />
    </div>

    <div class="form-group">
        <label><input type="checkbox" v-model="paste.is_private" name="is_private"/> 我想要将这段代码私有</label>
    </div>

    <div class="form-group">
        <select class="form-control" v-model="paste.tags">
            <option :value="tag" v-for="tag in paste.tags"></option>
        </select>
    </div>

    <div class="codes">
        <div class="panel panel-default panel-code"
             v-for="(index, code) in paste.codes">

            <div class="panel-heading">
                <div class="trash-wrapper">
                    <button type="button" class="btn btn-default btn-block"
                            @click="removeCode(code)"
                            :disabled="!codeRemovable">
                        <span class="fa fa-trash"></span>
                    </button>
                </div>

                <div class="syntax-wrapper">
                    <div class="form-group {{ codeHasError(index, 'syntax') }}">
                        <select class="form-control"
                                v-model="code.syntax"
                                name="codes-{{ index }}-syntax">
                            <option v-for="lexer in lexers"
                                    v-bind:value="lexer.value">{{ lexer.name }}
                            </option>
                        </select>
                    </div>
                </div>

                <div class="title-wrapper">
                    <input type="text"
                           class="form-control"
                           v-model="code.title"
                           name="codes-{{ index }}-title"
                           placeholder="描述一下这个代码片断（选填）"/>
                </div>
            </div><!-- .panel-heading -->

            <div class="panel-body">
                <div class="form-group {{ codeHasError(index, 'content') }}">
                    <textarea class="form-control" rows="8"
                              v-model="code.content"
                              name="codes-{{ index }}-content"
                              @change="codeChanged(code)"
                              placeholder=""></textarea>
                </div>
            </div><!-- .panel-body -->
        </div>

        <button type="button"
                class="btn btn-default"
                @click="addCode()"
                v-if="codeIncreasable">
            <span class="fa fa-plus"></span> 增加一个片断
        </button>
    </div>

    <hr/>

    <div class="form-group text-center">
        <button type="button"
                class="btn btn-primary btn-lg"
                @click="submitPaste()">更新这段代码集合
        </button>
    </div>

</form>
{% endraw %}