{% from 'macros/users.html' import render_user_avatar -%}
{% from 'macros/tags.html' import render_tag -%}
{% from 'macros/pastes.html' import render_source_code -%}
{% from 'macros/pastes.html' import render_source_code_preview -%}
{% from 'macros/pastes.html' import render_private -%}

<div class="paste" id="paste-{{ paste.id }}">
  <div class="media">
    <div class="media-left">
      {{ render_user_avatar(paste.user, size=38) }}
    </div>
    <div class="media-body">
      <div class="paste-metas pull-right">
        <a href="/paste/{{ paste.hash_id }}" class="text-muted">
          <span class="fa fa-file-code-o"></span>
          {{ paste.codes | length }}段代码
        </a>
        <a href="javascript:;" class="text-muted">
          <span class="fa fa-heart-o"></span>
          {{ paste.likes_count }}次喜欢
        </a>
        <a href="/paste/{{ paste.hash_id }}#comments" class="text-muted">
          <span class="fa fa-file-code-o"></span>
          <span class="disqus-comment-count">
            {{ paste.comments_count }}条评论
          </span>
        </a>
        {% if bookmark_hash_id %}
        <form class="inline action"
              action="{{ url_for('bookmark_app.remove_paste') }}"
              method="post">
          <input type="hidden" name="paste_hash_id" value="{{ paste.hash_id }}" />
          <input type="hidden" name="bookmark_id" value="{{ bookmark_hash_id }}" />
            <button type="submit"
                    class="btn btn-link btn-xs action action-del">
              {{ fa_icon('trash') }} <span>将此代码移出收藏夹</span>
            </button>
        </form>
        {% endif %}
      </div>

      <h5 class="media-heading">
        <a href="/paste/{{ paste.hash_id }}" title="{{ paste.title }}">
          {{ paste.title | truncate(30) }}
          {{ render_private(paste) }}
        </a>
      </h5>

      <p class="text-muted">
        <small>最后更新于{{ paste.updated_at | time_passed }}</small>
      </p>

    </div>

    <p class="paste-tags">
      {% for tag in paste.tags %}
        {{ render_tag(tag) }}
      {% endfor %}
    </p>

    <div class="clearfix"></div>

    {% if paste.codes[0].content.count('\n') > 10 %}
    {{ render_source_code_preview(paste.codes[0].highlight_content) }}
    {% else %}
    {{ render_source_code(paste.codes[0].highlight_content) }}
    {% endif %}
  </div>
</div>
