{% extends 'base.html' %}
{% from 'macros/users.html' import render_user_panel with context %}
{% from 'macros/tags.html' import render_tag %}
{% from 'macros/pastes.html' import render_source_code %}
{% from 'macros/pastes.html' import render_private %}
{% from 'macros/pastes.html' import like_paste_button %}
{% from 'macros/pastes.html' import edit_paste_button %}
{% from 'macros/pastes.html' import del_paste_button %}
{% from 'macros/pastes.html' import add_to_bookmark_form %}
{% from 'macros/pastes.html' import embed_paste_button with context  %}
{% from 'macros/common.html' import render_comments with context %}
{% from 'macros/users.html' import render_user_avatar -%}

{% block metatitle %}
<meta name="title" content="代码段 - {{ paste.title }}">
{% endblock %}
{% block metakeywords %}
<meta name="keywords" content="{% for tag in paste.tags %}{{ tag.name }}{% endfor %}">
{% endblock %}

{% block title %}{{ paste.title }}{% endblock %}

{% block content %}
<div class="page-pastes page-pastes-view">
  <div class="page-header">
    <h4>
      {{ paste.title }}
      {{ render_private(paste) }}
    </h4>

    <div class="text-muted">
      <small>最后更新于 {{ paste.updated_at | time_passed }}</small>
    </div>
  </div>

  <div class="page-sub-header">
    <div class="paste-actions">
      {% if paste.is_user_owned(current_user.user) %}
        {{ edit_paste_button(paste) }}
        {{ del_paste_button(paste) }}
      {% endif %}
      <a href="#" class="btn btn-default btn-xs">
       <i class="fa fa-eye"></i> 浏览 {{ paste.views }}
      </a>
      {% if current_user.is_authenticated %}
        {{ like_paste_button(current_user.user, paste) }}
        <div class="pull-right">
          {{ add_to_bookmark_form(paste, paste_lists) }}
        </div>
      {% else %}
        <a href="#" class="btn btn-default btn-xs">
          <i class="fa fa-heart"></i> 喜欢 {{ paste.likes_count }}
        </a>
      {% endif %}

      <div class="pull-right">
        {{ embed_paste_button(paste) }}
      </div>

      <div class="clearfix"></div>
    </div>
  </div>

  <p class="paste-tags">
    {% for tag in paste.tags %}
      {{ render_tag(tag) }}
    {% endfor %}
  </p>

  <div class="clearfix"></div>

  {% for code in paste.codes %}
    {{ render_source_code(code) }}
  {% endfor %}

  {{ render_comments(paste) }}
</div>
{% include 'shared/jiathis.html' %}
{% endblock %}

{% block sidebar %}
  {{ render_user_panel(paste.user) }}

  <div class="panel panel-default">
    <div class="panel-heading">同语言代码</div>
    <div class="panel-body">
      {% for paste in related_pastes %}
            <div class="media">
              <div class="media-left">
                {{ render_user_avatar(paste.user, size=22) }}
              </div>
              <div class="media-body">
                <h5 class="media-heading">
                  <a href="/paste/{{ paste.hash_id }}" title="{{ paste.title }}">
                    {{ paste.title | truncate(24) }}
                  </a>
                </h5>
              </div>
            </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
