{% extends 'base.html' %}
{% block title %}{{ paste.title }}{% endblock %}
{% block content %}
<div class="panel panel-default">
  {% for code in paste.codes %}
  <div class="panel-heading">
    <div class="panel-title">
      <h4>{{ code.title }}</h4>{% if paste.user.id == request.user.id %}<span><a href="/paste/{{ paste.hash_id }}/edit">修改</a></span>{% endif %}
    </div>
    <a href="/tag/{{ code.tag }}" title="{{ code.tag }}" class="label label-warning">{{ code.tag }}</a>
  </div>

  <pre class="panel-body"><code>{{ code.content | safe }}</code></pre>
  {% endfor %}

  <div class="panel-footer">
    {% include 'items/_comments.html' %}    
  </div>
</div>
{% endblock %}
{% block sidebar %}
<div class="panel panel-default">
  <div>最后修改时间: {{ paste.updated_at }}</div>
  <div id="rate" data-score="{{ paste.rate }}" data-id="{{ paste.hash_id }}"></div>
</div>
{% endblock %}
