{% extends 'base.html' %}
{% block title %}{{ paste.title }}{% endblock %}
{% block content %}
<div class="panel panel-default">
  {% for code in paste.codes %}
  <div class="panel-heading">
    <div class="panel-title">
      <h4><span class="glyphicon {% if paste.is_user_favourited() %}glyphicon-star{% else %}glyphicon-star-empty{% endif %}" aria-hidden="true"></span> {{ code.title }}{% if paste.is_private %} <span class="label label-default">私有</span>{% endif %}</h4>
    </div>
    <a href="/tag/{{ code.tag }}" title="{{ code.tag }}" class="btn btn-xs btn-warning">{{ code.tag }}</a>
  </div>

  <pre class="panel-body"><code>{{ code.content }}</code></pre>
  {% endfor %}

  <div class="panel-footer">
    {% include 'items/_comments.html' %}    
  </div>
</div>
{% endblock %}
{% block sidebar %}
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">{{ paste.title }}</h3>
  </div>
  <div class="panel-body">
    <div>{% if paste.user.id == request.user.id %}<span><a href="/paste/{{ paste.hash_id }}/edit">修改</a></span>{% endif %}</div>
    {% if request.user %}<div>{% if request.user.is_in_favourites(paste) %}<a href="/unfavourite/{{ paste.hash_id }}">取消加入收藏</a>{% else %}<a href="/favourite/{{ paste.hash_id }}">加入收藏</a>{% endif %}</div>{% endif %}
    <div>分享者: <span><a href="/user/{{ paste.user.username }}">{{ paste.user.username }}</a></span></div>
    <div>最后修改时间: {{ paste.updated_at }}</div>
    <div id="rate" data-score="{{ paste.rate }}" data-id="{{ paste.hash_id }}"></div>
    <div>{% for tag in paste.tags %}<a href="/tag/{{ tag }}" title="{{ tag }}" class="btn btn-xs btn-warning">{{ tag }}</a>{% endfor %}</div>
  </div>
</div>
{% endblock %}
