.hljs {
  background: none;
}

#form-signin, #form-signup {
  margin: 30px auto;
  width: 600px;
}

pre.panel-body {
  border: 0;
  background: none;
  margin: 0;
}

.name {
    padding-right: 30px;
    font-size: 24px;
}

.container .jumbotron {
    padding: 20px 20px 20px 20px;
}

/** this is for highlightjs.line.numbers **/
.hljs-line-numbers {
    text-align: right;
    border-right: 1px solid #ccc;
    margin-right: 10px;
    color: #999;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

pre {
    overflow: auto;
    word-break: normal;
    word-wrap: normal;
}
pre code {
    white-space: pre;
}

.tag {
  margin-bottom: 3px;
}

/* Bootstrap Override */
.page-header {
  margin-top: 0;
}

/** for paste pages **/
.paste {
  margin-bottom: 30px;
}
.paste-metas a {
  display: inline-block;
  margin-left: 10px;
  text-decoration: none;
  /*width: 100px;*/
}
.paste-metas a:hover {
  color: #555;
}
.paste-metas a .fa {
  margin-right: 3px;
}
.code .panel-body pre {
  margin: -15px;
  padding: 0;
  border: 0;
  background: none;
}
