a:hover,
a:active,
a:focus {
  text-decoration: none;
  outline: none;
}

body {
  min-width: 320px;
}

.hljs {
  background: none;
}

#form-signin, #form-signup {
  margin: 30px auto;
  width: 600px;
}

pre.panel-body {
  border: 0;
  background: none;
  margin: 0;
}

.name {
    padding-right: 30px;
    font-size: 24px;
}

.container .jumbotron {
    padding: 20px 20px 20px 20px;
}

.inline {
  display: inline;
}

/** this is for highlightjs.line.numbers **/
.hljs-line-numbers {
    text-align: right;
    color: #999;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.hljs-line-numbers + .hljs {
  border-left: 1px solid #E7E7E7;
}

pre {
    overflow: auto;
    word-break: normal;
    word-wrap: normal;
}
pre code {
    white-space: pre;
}

.tag {
  margin-bottom: 3px;
}

/* Bootstrap Override */
.page-header {
  margin-top: 0;
}

/* Common Bubble Style */
.bubble {
  position: relative;
  border: 1px solid #ddd;
  padding: 1px 5px;
  border-radius: 3px;
  margin-left: 5px;
}
.bubble:after, .bubble:before {
  right: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.bubble:after {
  border-color: rgba(255, 255, 255, 0);
  border-right-color: #ffffff;
  border-width: 3px 5px 3px 0;
  margin-top: -3px;
  margin-right: -1px;
}
.bubble:before {
  border-color: rgba(221, 221, 221, 0);
  border-right-color: #dddddd;
  border-width: 4px 5px 4px 0;
  margin-top: -4px;
}

/* Common pastes **/
.paste {
  margin-bottom: 30px;
}
.paste-metas a {
  display: inline-block;
  margin-left: 15px;
  text-decoration: none;
}
.paste-metas a:hover {
  color: #555;
}
.paste-metas a .fa {
  margin-right: 3px;
}
.paste-actions .action {
  margin-left: 5px;
}
.paste-actions .action span {
  display: none;
}
.code .panel-body pre {
  margin: -15px;
  padding: 0;
  border: 0;
  background: none;
}

pre.code_preview {
  max-height: 200px;
}

.avatar-wrapper {
  margin-top: 10px;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .paste-actions .action span {
    display: inline;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {  }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  }
