
#panel-paste-user .panel-heading {
  border-bottom: 1px solid #DDDDDD;
}
#panel-paste-user .img-rounded {
  border-radius: 50%;
}

.view_pastes.func_show .page-header {
  margin-bottom: 10px;
  padding-bottom: 5px;
}
.view_pastes.func_show .page-header h4 {
  margin-bottom: 5px;
}
.view_pastes.func_show .page-sub-header {
  margin-bottom: 20px;
}

.action-like:hover,
.action-unlike:link,
.action-unlike:visited,
.action-unlike:hover,
.action-unlike:active {
  color: #E5214A
}
