/* css reset {{{ */
/**
@font-face {
	font-family: Ubuntu;
	font-weight: normal;
	src: url('/static/fonts/Ubuntu-R.ttf');
}
@font-face {
	font-family: WenQuanYi-MicroHei;
	font-weight: normal;
	src: url('/static/fonts/wqy-microhei.ttc');
}
**/
a:hover { 
	text-decoration:none;
}
body { 
	font: 13px/1.5 Arial,Helvetica Neue,,Helvetica,'Liberation Sans',FreeSans,sans-serif;
}
ul, ol {
	list-style: none;
	margin-left: 0px;
}
h2 {
	font-size: 20px;
	font-weight: normal;
}
h4 {
	font-weight: normal;
}
/* }}} */
/* css class {{{ */
.clearfix:after {
	 visibility: hidden;
	 display: block;
	 font-size: 0;
	 content: " ";
	 clear: both;
	 height: 0;
}
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; }
.clearfix { display: block; }
.clear { clear: both; height: 0px; font-size：0px; overflow: hidden; }
.lf { float: left; }
.rt { float: right; }
.alc { text-align: center; }
.alr { text-align: right; }

.star { width:17px; cursor:pointer; margin-right:5px; }
.mar10 { margin: 10px; }
.pad10 { padding: 10px; }
.mt5 { margin-top: 5px; }
.ml5 { margin-left: 5px; }
.mr5 { margin-right: 5px; }
.mb5 { margin-bottom: 5px; }
.mt10 { margin-top: 10px; }
.mr10 { margin-right: 10px; }
.ml10 { margin-left: 10px; }
.mb10 { margin-bottom: 10px; }
.mb18 { margin-bottom: 18px; }
.mb20 { margin-bottom: 20px; }
.ml20 { margin-left: 20px; }
.mt15 { margin-top: 15px; }
.mb30 { margin-bottom: 30px; }
.mt40 { margin-top: 40px; }
.mt50 { margin-top: 50px; }
.mt65 { margin-top: 65px; }
.pb5 { padding-bottom: 5px; }
.pt10 { padding-top: 10px; }
.pt15 { padding-top: 15px; }
.pt30 { padding-top: 30px; }
.pb10 { padding-bottom: 10px; }
.pl10 { padding-left: 10px; }
.pl20 { padding-left: 20px; }
.pr10 { padding-right: 10px; }
.pr20 { padding-right: 20px; }
.bd1s { border: #dddddd 1px solid; }
.bdbd1s { border-bottom: #dddddd 1px dashed; }
.errors { color: red; }
.clc { color: #ccc; }
.cl6c553b { color: #6c553b; }
.fs11 { font-size: 11px; }
.fs13 { font-size: 13px; }
.fs14 { font-size: 14px; }
.fs16 { font-size: 16px; }
.fs20 { font-size: 20px; }
.fwb { font-weight: bold; }
.lh18 { line-height: 18px; }
.lh22 { line-height: 22px; }
.lh24 { line-height: 24px; }
.lh30 { line-height: 30px; }
.bd3 {
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
.w1000 { width: 1000px; margin: 0 auto; }
.w698 { width: 698px; }
.w272 { width: 272px; }
.btn .plus {
	background-position: -62px -185px;
	height: 21px;
	margin-bottom: 0;
	margin-right: 5px;
	position: relative;
	top: 1px;
	width: 21px;
}
.btn span {
	background-image: url("/_themes/default/images/sprite-icons.png");
	background-repeat: no-repeat;
	display: inline-block;
	height: 13px;
	margin-bottom: 2px;
	outline: medium none;
	overflow: hidden;
	vertical-align: bottom;
	width: 13px;
}
.button span {
	background-image: url("/_themes/default/images/sprite-icons.png");
	background-repeat: no-repeat;
	display: inline-block;
	height: 13px;
	margin-bottom: 2px;
	outline: medium none;
	overflow: hidden;
	vertical-align: bottom;
	width: 13px;
}
.btn-90c047 {
	background-color: #90c047;
	color: #ffffff;
	background-image: -moz-linear-gradient(center top , #90c047, #8abb46);
	background-image: -ms-linear-gradient(top, #90c047, #8abb46);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#90c047), to(#8abb46));
	background-image: -webkit-linear-gradient(top, #90c047, #8abb46);
	background-image: -o-linear-gradient(top, #90c047, #8abb46);
	background-image: linear-gradient(top, #90c047, #8abb46);
	background-repeat: repeat-x;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.btn-90c047:hover, .btn-90c047:active, .btn-90c047.active, .btn-90c047.disabled, .btn-90c047[disabled] {
	/**color: #ffffff;**/
	background-color: #8abb46;
}
.btn-orange {
	background-color: #ee5a26;
	color: #ffffff;
	background-image: -moz-linear-gradient(center top , #ef5a28, #d54718);
	background-image: -ms-linear-gradient(top, #ef5a28, #d54718);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ef5a28), to(#d54718));
	background-image: -webkit-linear-gradient(top, #ef5a28, #d54718);
	background-image: -o-linear-gradient(top, #ef5a28, #d54718);
	background-image: linear-gradient(top, #ef5a28, #d54718);
	background-repeat: repeat-x;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.btn-orange:hover, .btn-orange:active, .btn-orange.active, .btn-orange.disabled, .btn-orange[disabled] {
	color: #ffffff;
	background-color: #d54718;
}
.hidden {
	display: none;
}
/* }}} */
/* base style {{{ */
a {
	color: #cd4113;
}
#footer {
	padding-bottom:150px;
	border-top: 2px solid #B6ACAC;
	padding-top: 10px;
	font-size: 18px;
	background-color: #f2f1ea;
	color: #b6acac;
}
#footer p span,
#footer p span a {
	font-size: 16px;
	color: #b6acac;
}
#container {
	min-height: 450px;
	background: none;
	padding-bottom: 20px;
	padding-top: 8px;
}
#center-block {
	background: url('/_themes/default/images/center-bg.jpg') repeat-x;
}
.container {
	width: 1000px;
}
.return-top-link {
	bottom: 10px;
	overflow: hidden;
	position: fixed;
	right: 5px;
	z-index: 999;
}
/* }}} */
/* close button {{{ */
button.close {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    cursor: pointer;
    padding: 0;
    font-size: 16px;
}
/* }}} */
/* paste style {{{ */
.code_list li {
	margin-bottom: 15px;
	border-bottom: 1px solid #EEEEEE;
	padding-bottom: 15px;
}
.code_list li:last-child {
	border: 0;
}
#paste_new form p textarea {
	width: 560px;
	max-width: 560px;
	height: 300px;
}
#paste_new form #show-desc-box textarea {
	height: 90px;
}
#coments {
	width: 685px;
}
.show-desc-link {
	color:#ccc;
}
.show-desc-link:hove {
	color: #CD4113;
}
.paste_coments li {
	margin-bottom: 10px;
	padding-bottom: 7px;
	border-bottom: 1px #cccccc dashed;
}
.paste_coments li:last-child {
	border-bottom: none;
}
.coments_li_rt {
	width: 576px;
}
.coments_li_rt_rt {
	width: 100px;
}
.w500_textarea {
	width: 500px;
	max-width: 630px;
	min-width: 500px;
	height: 80px;
}
.more {
	display: block;
	padding: 7px 322px;
}
.more span {
	*margin-top: 5px;
}
.more img {
	float: left;
	margin: 2px 0 0 5px; 
}
#follow .plus {
	width: 16px;
	height: 16px;
	top: 0;
	margin-right: 0px;
	background-position: -62px -16px;
}
#unfollow .plus {
	width: 16px;
	height: 16px;
	top: 0;
	margin-right: 0px;
	background-position: -80px -16px;
}
#rater {
	padding-top: 3px;
}
input.google-login {
	width: 65px;
	height: 30px;
	border: 0;
	background: url('/_themes/default/images/google-logo.png') no-repeat;
}
.user_list li img {
	margin: 0 9px 9px 0;
	width: 34px;
	height: 34px;
}
.paste_user_icon img {
	width: 48px;
	height: 48px;
}
.paste_user_cont {
	width: 190px;
}
.new-paste-title {
	line-height: 20px;
	font-size: 14px;
	color: #6c553b;
	font-weight: bold;
	margin-bottom: 20px;
	margin-top: 15px;
}
.new-paste-title span {
	width: 21px;
	height: 21px;
	float: left;
	margin-right: 10px;
	background: url('/_themes/default/images/sprite-icons.png') no-repeat 2px -190px;
}
.paste-follow-link span {
	float: left;
	width: 13px;
	height: 13px;
	margin-top: 4px;
	margin-right: 10px;
	background: url('/_themes/default/images/sprite-icons.png') no-repeat -23px -194px;
}
.paste-favorite-link span {
	float: left;
	width: 13px;
	height: 13px;
	margin-top: 4px;
	margin-right: 10px;
	margin-left: 15px;
	background: url('/_themes/default/images/sprite-icons.png') no-repeat -40px -194px;
}
.rss-user {
	float: right;
	padding-top: 10px;
}
.rss-user a {
	font-size: 14px;
}
.rss-user img {
	padding-right: 5px;
}
.rss-tag {
	float: right;
	padding-right:20px;
}
.rss-tag img {
	padding-right: 5px;
}
a.tag {
	float: left;
	height: 18px;
	border: #ccc 1px solid;
	border-radius: 3px;
	background: #fff;
	color: #BBBEC3;
	/**font-weight: bold;**/
	padding: 0 5px;
	margin-right: 10px;
}
.tag-list-block {
	width: 590px;
}
.no_desc {
	float:right;
	color:#ccc;
}
.code_list .well {
	display: none;
}
.paste-side-title ul li {
	line-height: 22px;
	height: 22px;
	padding: 0 10px;
	border: #ccd2d3 1px solid;
}
.paste-side-title ul li.current {
	background: #6d7578;
	line-height: 24px;
	height: 24px;
	border: 0;
}
.paste-side-title ul li a {
	color: #5c5c58;
}
.paste-side-title ul li.current a {
	color: #fff;
}
.paste-side-title ul li.lf {
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}
.paste-side-title ul li.rt {
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	border-left: none;
}
.paste-side-title {
	padding: 12px 0 7px 0;
	border-bottom: #d9dddf 3px solid;
}
.paste-user-list li {
	padding: 7px 0 5px 0;
	border-bottom: #ccc 1px solid;
}
.paste-user-list li:last-child {
	border: 0;
}
.paste-user-list li img {
	width: 24px;
	height: 24px;
	border: #ccc 1px solid;
	margin-top: 5px;
}
.paste-user-follow {
	width: 32px;
	height: 16px;
	color: #3d5d00;
}
.share-btn {
	width: 110px;
	font-size: 14px;
	font-weight: normal;
	line-height: 20px;
	text-shadow: none;
}
/* }}} */
/* code style {{{ */
#code_view {
	clear:both;
}
#code_view .linenodiv {
	border-right:2px solid #555;
	background:none repeat scroll 0 0 #272822;
	padding:0 5px 0 7px;
	width:40px;
	text-align:right;
}
#code_view .source {
	overflow:auto;
	width:635px;
}
#code_view pre {
	padding-left:5px;
	margin:0;
	color:white;
	word-wrap:normal;
}
.linenos {
	vertical-align:top;
}
.sourcetable td,
.sourcetable th {
	padding:0;
	border:none;
}
.sourcetable pre {
	border:none;
	background:none;
	padding:0;
	white-space:pre;
	font-size:14px;
}
/* }}} */
/* page style {{{ */
.page-content ul,
.page-content ol {
	list-style: outside;
}
.page-content ul li,
.page-content ol li {
	line-height: 20px;
	margin-left: 15px;
}
.page-content h1,
.page-content h2,
.page-content h3,
.page-content h4,
.page-content h5,
.page-content h6 {
	font-weight: bold;
}
.page-content h1 {
	font-size: 32px;
}
.page-content h2 {
	font-size: 24px;
}
.page-content h3 {
	font-size: 18px;
}
.page-content h4 {
	font-size: 16px;
}
.page-content h5 {
	font-size: 15px;
}
.page-content h6 {
	font-size: 12px;
}
/* }}} */
/* bootstrap style change {{{ */
.well {
	color: #848281;
	line-height: 20px;
	margin-bottom: 0px;
}
.modal.fade.in {
	top: 65%;
}
.modal form {
	margin-bottom: 0;
}
.navbar .container {
	width: 1000px;
	padding-bottom: 7px;
}
.navbar .nav {
	margin-top: 2px
}
.navbar-inner {
	background: none;
	box-shadow: none;
	border-radius: 0 0 0 0;
}
ul.nav > li.dropdown > a.dropdown-toggle > img {
	width: 20px;
	margin: 5px 10px 0 0;
}
.navbar .nav > li > a {
	border-left-color: #575657;
	border-right: none;
	height: 31px;
	line-height: 31px;
	padding-top: 17px;
	padding-left: 17px;
	padding-right: 17px;
}
.navbar .nav .active > a,
.navbar .nav .active > a:hover,
.navbar .nav > li > a:hover {
	background-color: #3d3d3d;
}
.navbar .brand {
	font-size: 22px;
	padding-top: 21px;
	font-weight: bold;
}
.navbar .brand span {
	color: #f18510;
}
.navbar-search {
	width: 223px;
	height: 27px;
	margin-top: 20px;
	margin-left: 20px;
	background: url('/_themes/default/images/search-bg.png') no-repeat;
}
.navbar {
	margin-bottom: 0px;
	background: url('/_themes/default/images/bg.png') repeat-x;
}
.navbar-search .search-query {
	width: 180px;
	border: 0;
	padding: 2px 10px;
	box-shadow: none;
	background: none;
	color: #9e9387;
	margin-top: 2px;
}
/**
.navbar-search .search-query:focus,
.navbar-search .search-query.focused {
	padding: 2px 10px;
	margin-top: 3px;
}
**/
input.search-btn {
	width: 21px;
	height: 26px;
	border: 0;
	background: none;
}
.navbar .nav > li > a.register-ico {
	padding-left: 35px;
	background: url('/_themes/default/images/sprite-icons.png') no-repeat -340px -163px;
}
.navbar .nav > li > a.register-ico:hover {
	background: url('/_themes/default/images/sprite-icons.png') #3d3d3d no-repeat -340px -163px;
}
.navbar .nav .dropdown-toggle .caret,
.navbar .nav .open.dropdown .caret {
	margin-top: 14px;
}
.navbar .login-nav > li > a {
	border-right: none;
	border-left: none;
}
.w1000 .alert {
	margin-top: 8px;
	margin-bottom: 0px;
}
.pagination ul li a.current {
	background: #f5f5f5;
}
/* }}} */
