{% extends 'base.html' %}
{% import 'wtf.html' as f %}
{% block title %}用户登录{% endblock %}
{% block content %}
<form action="/signin" method="POST" id="form-signin">
  <div class="panel panel-default">
    <div class="panel-heading">用户登录</div>
    <div class="panel-body">
      {{ f.render_field(form.email, placeholder='Email', type='email') }}
      {{ f.render_field(form.password, placeholder='Password', type='password') }}
      <input type="submit" class="btn btn-default" value="登录" />
    </div>
  </div>
</form>
{% endblock %}