{% extends 'base.html' %}
{% block title %}注册新用户{% endblock %}
{% block content %}
    <form action="/signup" method="POST">
        <fieldset>
            <legend>用户注册</legend>
            <div class="form-group">
                {{ form.email.label(class="control-label col-md-2") }}
                <div class="col-md-9">
                    {{ form.email }}
                </div>
            </div>
            <div class="form-group">
                {{ form.username.label(class="control-label col-md-2") }}
                <div class="col-md-9">
                    {{ form.username }}
                </div>
            </div>
            <div class="form-group">
                {{ form.password.label(class="control-label col-md-2") }}
                <div class="col-md-9">
                    {{ form.password }}
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-8 col-md-offset-2">
                    <input type="submit" class="btn btn-primary" value="注册" />
                </div>
            </div>
        </fieldset>
    </form>
{% endblock %}