{% extends 'base.html' %}
{% block title %}{{ paste.title }}{% endblock %}
{% block content %}
<div class="row col-md-12">
	<h4>
		{{ paste.title }}
		<span class="ml10 fs13 clc">by</span>
        <a href="/user/view/#/" class="carte fs13" title="#">dxie</a>
		<span class="ml10 fs13 clc">###</span>
	</h4>
	<h5>
{#		{% for tag in paste.tags %}{% include 'items/_tag.html' %}{% endfor %}#}
	</h5>
	<div id="code_view" class="row col-md-12"><pre><code>{{ paste.content | safe }}</code></pre></div>
</div>
{% include 'items/_comments.html' %}
{% endblock %}
