<li class="list-group-item">
  <div class="pull-right">
    <a href="/user/{{ paste.user.username }}" class="text-muted" title="{{ paste.user.username }}"><img src="{{ paste.user.gravatar_url(width=42) }}" alt="{{ paste.user.username }}" class="img-rounded"/></a>
  </div>
  <h5><a href="/paste/{{ paste.hash_id }}" title="{{ paste.title }}">{{ paste.title }}</a> <span class="label label-primary">有{{ paste.codes | length }}段代码</span>{% if paste.is_private %} <span class="label label-default">私有</span>{% endif %}</h5>
  {% for tag in paste.tags %}
    <a href="/tag/{{ tag }}" class="btn btn-xs btn-warning" title="{{ tag }}">{{ tag }}</a>
  {% endfor %}
  <div class="clearfix"></div>
</li>
