{% extends 'base.html' %}

{% from 'macros/users.html' import render_user_panel with context %}
{% from 'macros/pastes.html' import render_paste_item with context %}
{% from 'macros/common.html' import render_pagination %}
{% from 'macros/common.html' import fa_icon %}

{% block metatitle %}
<meta name="title" content="代码段 - {{ bookmark.title }}">
{% endblock %}

{% block title %}{{ bookmark.title }}{% endblock %}
{% block content %}
<h4 class="page-header">{{ bookmark.title }}
  {% if current_user.is_authenticated and current_user.user == bookmark.user %}
  <form class="inline action"
        action="{{ url_for('bookmark_app.delete', hash_id=bookmark.hash_id) }}"
        method="post">
    <span class="pull-right">
      <button type="submit"
              class="btn btn-danger btn-xs action action-del">
        {{ fa_icon('trash') }} <span>删除这个收藏夹</span>
      </button>
    </span>
  </form>
  {% endif %}
</h4>

{% if bookmark.pastes %}
  <section class="pastes">
    {% for paste in bookmark.pastes %}
      {{ render_paste_item(paste) }}
    {% endfor %}
  </section>
{% else %}
  <div class="media">
    <div class="media-body">
      <span class="text-muted">此收藏夹还没有任何代码</span>
    </div>
  </div>
{% endif %}
{% endblock %}

{% block sidebar %}
  {{ render_user_panel(bookmark.user) }}
{% endblock %}
