{% extends 'base.html' %}
{% block content %}
<h3 class="page-header">我的收藏</h3>

<section class="pastes">
	{% for paste in pastes %}
		{% include ('pastes/paste.html') %}
	{% endfor %}
	<div id="more_button_li">
		<button class="btn btn-default btn-block" id="more_button" data-page="2">更多</button>
	</div>
</section>
{% endblock %}
{% block sidebar %}
{%- from 'macros/tags.html' import render_tag -%}
<div class="panel panel-default">
	<div class="panel-heading">热门标签</div>
	<div class="panel-body">
	{% for tag in tags %}
		{{ render_tag(tag.name) }}
	{% endfor %}
	</div>
</div>
{% endblock %}
