{% extends 'base.html.j2' %}
{% import 'wtf.html.j2' as f %}
{% block title %}重置密码{% endblock %}
{% block full_content %}
<form action="/lost_password" method="POST" id="form-signin">
  <div class="panel panel-default">
    <div class="panel-heading">重置密码</div>
    <div class="panel-body">
      {{ f.render_field(form.email, placeholder='Email', type='email') }}
    </div>
    <div class="panel-footer">
      <input type="submit" class="btn btn-primary" value="重置密码" />
    </div>
  </div>
</form>
{% endblock %}
