{% extends 'base.html' %}
{% block title %}{{ user.username }}{% endblock %}
{% block content %}
<h3 class="page-header">{{ user.username }} 的代码</h3>

<section class="pastes">
	{% include ('pastes/pastes.html') %}

	<div id="more_button_li">
		<button class="btn btn-default btn-block" id="more_button" page="2">更多</button>
	</div>
</section>
{% endblock %}
{% block sidebar %}
<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">
      <h4>{{ user.username }}</h4>
    </div>
  </div>
  <div class="panel-body">
      <div>
          <img src="{{ user.gravatar_url() }}">
      </div>
      <div>
          <strong>Email: </strong> {{ user.email }}
      </div>
  </div>
</div>
{% endblock %}
